body {
	background-color: #ff0409ed
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-circular {
 width: 200px;
 height: 200px;
 background-image: url('../images/Ime.jpg');
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

.about-me {
	color: floralwhite;
    font-family: sans-serif;
    font-size: 40px;	
	padding-left: 100px;
}

.top-section {
	padding-top: 50px;
    padding-bottom: 10px;
}

.mid-page {
	width : 100%;
	clear : both;
}

.container .box {  
	width:540px;  
	margin:50px;  
	display:table;  
}  
.container .box .box-row {  
	display:table-row;  
}  
.container .box .box-cell {  
	display:table-cell;  
	width:33%;  
	padding:10px;  
}  
.container .box .box-cell.box1 {                                
	text-align:justify;  
}  
.container .box .box-cell.box2 {                  
	text-align:justify ;
	width : 200px;
	height : 200px;
	background-image: url('../images/Ime.jpg');
	background-size: cover;
	display: block;
	border-radius: 100px;
	color:white;  
}  
.container .box .box-cell.box3 {  
	text-align:justify;  
} 

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
